.DS_STORE
*.log
logs/*.log

config/local.json

node_modules/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Configs and fake services on developer workstation
elasticmq*
fakeS3*
s3-data/*
