#
# AWS configuration for SuiteC preview service
#

option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache

packages:
  yum:
    bzip2: []
    cairo: []
    cups: []
    dbus-glib: []
    fontconfig: []
    freetype: []
    wget: []

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-west-2-234923831700"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

# Additional dependencies not available through yum.
files:
  /tmp/ffmpeg-release-3.3.3-64bit-static.tar.xz:
    mode: "000755"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-234923831700/suitec-preview-service/dependencies/ffmpeg-release-3.3.3-64bit-static.tar.xz
  /tmp/ghostscript-9.21-linux-x86_64.tgz:
    mode: "000755"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-234923831700/suitec-preview-service/dependencies/ghostscript-9.21-linux-x86_64.tgz
  /tmp/LibreOffice_5.3.6_Linux_x86-64_rpm.tar.gz:
    mode: "000755"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-234923831700/suitec-preview-service/dependencies/LibreOffice_5.3.6_Linux_x86-64_rpm.tar.gz
