option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 6.9.1
    ProxyServer: apache
    NodeCommand: 'node_modules/.bin/forever -a -m 10 app.js'

packages:
  yum:
    bzip2: []
    cairo: []
    cups: []
    dbus-glib: []
    fontconfig: []
    freetype: []
    GraphicsMagick: []
    wget: []

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-west-2-234923831700"]
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
