option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 6.9.1
    ProxyServer: apache
    NodeCommand: 'node_modules/.bin/forever -a -m 10 start app.js'

packages:
  yum:
    bzip2: []
    cairo: []
    cups: []
    dbus-glib: []
    fontconfig: []
    freetype: []
    GraphicsMagick: []
    wget: []
