commands:
  01_mkdir:
    command: "sudo mkdir -p /opt/ghostscript"
  02_extract_ghostscript_executable:
    command: "sudo tar -xvzf /tmp/ghostscript-9.20-linux-x86_64.tgz -C /opt/ghostscript"
  03_set_permissions_for_ghostscript_executable:
    command: "sudo chmod +x /opt/ghostscript/ghostscript-9.20-linux-x86_64/gs-920-linux_x86_64"
  04_symlink_ghostscript_executable:
    command: "sudo ln -sf /opt/ghostscript/ghostscript-9.20-linux-x86_64/gs-920-linux_x86_64 /usr/local/bin/gs"
