commands:
  01_become_root:
    command: 'sudo su'
  02_get_ghostscript_executable:
    command: 'wget -N https://github.com/ArtifexSoftware/ghostpdl-downloads/releases/download/gs920/ghostscript-9.20-linux-x86_64.tgz -O ghostscript-9.20-linux-x86_64.tgz'
  03_extract_ghostscript_executable:
    command: 'tar -xvzf ghostscript-9.20-linux-x86_64.tgz'
  04_set_permissions_for_ghostscript_executable:
    command: 'chmod +x ghostscript-9.20-linux-x86_64/gs-920-linux_x86_64'
  05_symlink_ghostscript_executable:
    command: 'ln -sf "$(pwd)/ghostscript-9.20-linux-x86_64/gs-920-linux_x86_64" /usr/local/bin/gs'
