commands:
  01_mkdir:
    command: "sudo mkdir -p /tmp/LibreOffice"
  02_extract_libreoffice_packages:
    command: "sudo tar -xvzf /tmp/LibreOffice_5.3.6_Linux_x86-64_rpm.tar.gz -C /tmp/LibreOffice"
  03_install_libreoffice_packages:
    command: "sudo yum -y localinstall /tmp/LibreOffice/LibreOffice_5.3.6.1_Linux_x86-64_rpm/RPMS/*.rpm"
  04_symlink_libreoffice_executable:
    command: "sudo ln -sf /opt/libreoffice5.3/program/soffice /usr/local/bin/soffice"
