commands:
  01_mkdir:
    command: "sudo mkdir -p /opt/phantomjs"
  02_extract_phantomjs_executable:
    command: "sudo tar -xvf /tmp/phantomjs-1.9.7-linux-x86_64.tar.bz2 -C /opt/phantomjs"
  03_symlink_phantomjs_executable:
    command: "sudo ln -sf /opt/phantomjs/phantomjs-1.9.7-linux-x86_64/bin/phantomjs /usr/local/bin/phantomjs"
