commands:
  01_become_root:
    command: 'sudo su'
  02_get_phantomjs_executable:
    command: 'wget -N https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-1.9.7-linux-x86_64.tar.bz2 -O phantomjs-1.9.7-linux-x86_64.tar.bz2'
  03_extract_phantomjs_executable:
    command: 'tar -xvf phantomjs-1.9.7-linux-x86_64.tar.bz2'
  04_symlink_phantomjs_executable:
    command: 'ln -sf "$(pwd)/phantomjs-1.9.7-linux-x86_64/bin/phantomjs" /usr/local/bin/phantomjs'
