commands:
  01_mkdir:
    command: "sudo mkdir -p /opt/ffmpeg"
  02_extract_executables:
    command: "sudo tar -xvf /tmp/ffmpeg-release-3.3.3-64bit-static.tar.xz -C /opt/ffmpeg"
  03_symlink_ffmpeg_executable:
    command: "sudo ln -sf /opt/ffmpeg/ffmpeg-3.3.3-64bit-static/ffmpeg /usr/local/bin/ffmpeg"
  04_symlink_ffprobe_executable:
    command: "sudo ln -sf /opt/ffmpeg/ffmpeg-3.3.3-64bit-static/ffprobe /usr/local/bin/ffprobe"
