commands:
  01_become_root:
    command: 'sudo su'
  02_get_ffmpeg_executable:
    command: 'wget -N https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-64bit-static.tar.xz -O ffmpeg-release-64bit-static.tar.xz'
  03_extract_ffmpeg_executable:
    command: 'tar -xvf ffmpeg-release-64bit-static.tar.xz'
  04_symlink_ffmpeg_executable:
    command: 'ln -sf "$(pwd)/$(ls -td ffmpeg-*-64bit-static/ffmpeg | head -1)" /usr/local/bin/ffmpeg'
  05_symlink_ffprobe_executable:
    command: 'ln -sf "$(pwd)/$(ls -td ffmpeg-*-64bit-static/ffprobe | head -1)" /usr/local/bin/ffprobe'
