container_commands:
  01_symlink_node_executable:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /usr/local/bin/node"
  02_symlink_npm_executable:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /usr/local/bin/npm"

option_settings:
  - option_name: 'NODE_ENV'
    value: 'production'
