#
# Create an Apache .conf file for the preview service.
#
files:
  '/tmp/suitec-preview-service.httpd.conf':
    mode: '000644'
    owner: root
    group: root
    content: |
      # Elastic Beanstalk Managed
      #
      # Elastic Beanstalk managed configuration file
      # Some configuration of httpd can be by placing files in /etc/httpd/conf.d/
      # using Configuration Files.
      # http://docs.amazonwebservices.com/elasticbeanstalk/latest/dg/customize-containers.html
      #
      # This file was overwritten during deployment
      # by .ebextensions/05_overwrite_apache_conf.config

      Listen 8080

      <VirtualHost *:8080>
          DocumentRoot /var/www/html

          ErrorLog /var/log/httpd/preview_service_error.log

          # Proxy the /process calls to the application server
          ProxyPass         /process          http://localhost:2001/process retry=0
          ProxyPreserveHost On
      </VirtualHost>
