#
# At this stage of deployment, we don't have access to the environment variable that tells us which environment we're using.
# We download all configurations as a zip from S3, and extract the appropriate file in the next step.
#
files:
  /tmp/local_configurations.zip:
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-234923831700/suitec-preview-service/local_configurations.zip
