# The Apache configuration file created in 04_create_apache_conf.config is copied to
# /etc/httpd/conf.d/00_elastic_beanstalk_proxy.conf as part of app deployment.
# This post-deploy script ensures that once app deployment is complete, Apache
# will restart and pick up the new config.

commands:
  create_post_dir:
    command: 'mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post'
    ignoreErrors: true
files:
  '/opt/elasticbeanstalk/hooks/appdeploy/post/01_restart_apache.sh':
    mode: '000755'
    owner: root
    group: root
    content: |
      #!/bin/bash
      sudo apachectl restart
